# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Git
.git/
.gitignore

# Environment variables / secrets
.env

# Jupyter / notebooks
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# ML artifacts (si no quieres incluirlos)
*.joblib
*.pkl
models/

# Logs
*.log
